extends ../layout

block content
  .tabs.is-centered
    ul
      li
        a(href='/settings') Utilisateurs
      li.is-active
        a(href='/settings/casernes') Casernes
      li
        a(href='/settings/configurations') Configurations
  div.columns
    div.column.is-10.is-offset-1.caserne__container
      h3.title.has-text-centered Liste des casernes
      a.button.button__add.is-info.is-pulled-right(onclick="showModal('casernes', 'add', null)") Ajouter une caserne
      table#casernes.table.is-bordered.is-striped.is-fullwidth
        thead
          tr
            th.has-text-centered Nom
            th.has-text-centered Fréquence
            if (loggedUser.role == 'SUPER')
              th.has-text-centered Token
            th.has-text-centered Création
            th.has-text-centered Mise à jour
            th.has-text-centered Action
        tbody
          each caserne in casernes
            tr
              td= caserne.name
              td= caserne.frequency
              if (loggedUser.role == 'SUPER')
                td.caserne__token= caserne.token
              td #{moment(caserne.createdAt).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss")}
              td #{moment(caserne.updatedAt).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss")}
              td 
                a.button.is-success.button__update(onclick="showModal('casernes', 'edit', "+ caserne.id +")") Mettre à jour
                button.button.is-danger.button__delete(onclick="showModal('casernes', 'delete', "+ caserne.id +")") Supprimer