extends ../layout

block content
  .tabs.is-centered
    ul
      if (loggedUser.role == 'SUPER')
        li
          a(href='/settings') Utilisateurs
        li
          a(href='/settings/casernes') Casernes
      li.is-active
        a(href='/settings/configurations') Configurations
  div.columns
    div.column.is-10.is-offset-1.configuration__container
      h3.title.has-text-centered Liste des configurations
      a.button.button__add.is-info.is-pulled-right(onclick="showModal('configurations', 'add', null)") Ajouter une configuration
      table#configurations.table.is-bordered.is-striped.is-fullwidth
        thead
          tr
            th.has-text-centered Numéro de bip
            th.has-text-centered Alias
            th.has-text-centered Caserne
            th.has-text-centered API_KEY
            th.has-text-centered API_TOKEN
            th.has-text-centered Création
            th.has-text-centered Mise à jour
            th.has-text-centered Action
        tbody
          each configuration in configurations
            tr
              td= configuration.capcode
              td= configuration.alias
              td= configuration.caserne.name
              td= configuration.pushover_key
              td= configuration.pushover_token
              td #{moment(configuration.createdAt).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss")}
              td #{moment(configuration.updatedAt).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss")}
              td 
                a.button.is-success.button__update(onclick="showModal('configurations', 'edit', "+ configuration.id +")") Mettre à jour
                button.button.is-danger.button__delete(onclick="showModal('configurations', 'delete', "+ configuration.id +")") Supprimer