extends ../layout

block content
  .tabs.is-centered
    ul
      li.is-active
        a(href='/settings') Utilisateurs
      li
        a(href='/settings/casernes') Casernes
      li
        a(href='/settings/configurations') Configurations
  div.columns
    div.column.is-10.is-offset-1.user__container
      h3.title.has-text-centered Liste des utilisateurs
      a.button.button__add.is-info.is-pulled-right(onclick="showModal('users', 'add', null)") Ajouter un utilisateur
      table#users.table.is-bordered.is-striped.is-fullwidth
        thead
          tr
            th.has-text-centered Utilisateur
            th.has-text-centered Mot de passe
            th.has-text-centered Rôle
            th.has-text-centered Caserne
            th.has-text-centered Création
            th.has-text-centered Mise à jour
            th.has-text-centered Action
        tbody
          each user in users
            tr
              td= user.username
              td *******
              td= user.role
              td #{user.caserneId != null && user.caserneId != '' ? user.caserne.name : ''}
              td #{moment(user.createdAt).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss")}
              td #{moment(user.updatedAt).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss")}
              td 
                a.button.is-success.button__update(onclick="showModal('users', 'edit', "+ user.id +")") Mettre à jour
                button.button.is-danger.button__delete(onclick="showModal('users', 'delete', "+ user.id +")") Supprimer