extends layout

block content
  div.columns
    div.column.is-12
      table#alerts.table.is-bordered.is-striped.is-fullwidth
        thead
          tr
            th.has-text-centered Numéro de BIP
            th.has-text-centered Alias
            th.has-text-centered Message
            th.has-text-centered Heure déclenchement
            th.has-text-centered Notification envoyée
            th.has-text-centered Message acquitté
            if (loggedUser.role == 'SUPER')
              th.has-text-centered Actions
        tbody
          each alert in alerts
            tr
              td= alert.configuration.capcode
              td= alert.configuration.alias
              td= alert.message
              td #{moment(alert.createdAt).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss")}
              td #{alert.notification_sent ? moment(alert.notification_sent).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss") : ''}
              if (moment().diff(moment(alert.createdAt), 'minutes') >= 30)
                td.has-text-black(class='alert-over') #{ alert.acknowledged_at ? moment(alert.acknowledged_at).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss") : '' }
              else
                td.has-text-black(class=alert.acknowledged == true ? 'alert-acknowledged':'alert-not-acknowledged') #{ alert.acknowledged_at ? moment(alert.acknowledged_at).tz('Europe/Paris').format("DD/MM/YYYY HH:mm:ss") : '' }
              if (loggedUser.role == 'SUPER')
                td
                  button.button.is-danger.button__delete(onclick="showModal('alerts', 'delete', "+ alert.id +")") Supprimer
  script.
    $(document).ready(() => {
      var user = !{JSON.stringify(loggedUser)};
      
      const socket = io.connect();
      socket.on('connect', () => {
        socket.emit('join', user)
      })
      socket.on('disconnect', () => {
        socket.emit('leave', user)
      });
      socket.on('acknowledge-alert', () => {
        $('#alerts').load(location.href + ' #alerts');
      });
      socket.on('new-alert', (alert) => {
        $('#alerts').load(location.href + ' #alerts');
      });
    });