doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/bulma/css/bulma.css')
    script(src="/jquery/jquery.js")
    script(src="/javascripts/index.js")
    script(src="/socket.io/socket.io.js") 
  body
    block navbar
      nav.navbar(role='navigation' aria-label='main navigation').is-link
        .navbar-brand
          a.navbar-item.navbar__title(href='/')
            img(src="/images/logo.png", width="40", height="40")
            | Sapeurs-pompiers - Alertes
          a.navbar-burger.burger(role='button' onclick="showMenu" aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
            span(aria-hidden='true')
            span(aria-hidden='true')
            span(aria-hidden='true')
        #navbarBasicExample.navbar-menu
          .navbar-start
          
          .navbar-end
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link
                | Connecté
                strong= loggedUser.username
              .navbar-dropdown
                if (loggedUser.role != 'VIEWER')
                  a.navbar-item(href= (loggedUser.role == 'ADMIN' ? '/settings/configurations' : '/settings'))
                    | Paramètres
                a.navbar-item(href='/logout')
                  | Déconnexion
    block content
    block modals
      .modal.modal__delete
        .modal-background
        .modal-card
          header.modal-card-head
            p.modal-card-title Supprimer un élément
            button.delete.modal__close(aria-label='close')
          section.modal-card-body
            | Je prends connaissance que la suppression est définitive.
          footer.modal-card-foot
            button.button.is-danger.modal__ok Supprimer définitivement
            button.button.modal__cancel Annuler
      .modal.modal__edit
        .modal-background
        .modal-card
          header.modal-card-head
            p.modal-card-title Éditer
            button.delete.modal__close(aria-label='close')
          section.modal-card-body
            
          footer.modal-card-foot
            button.button.is-danger.modal__ok Appliquer la modification
            button.button.modal__cancel Annuler
      .modal.modal__add
        .modal-background
        .modal-card
          header.modal-card-head
            p.modal-card-title Ajouter
            button.delete.modal__close(aria-label='close')
          section.modal-card-body
            
          footer.modal-card-foot
            button.button.is-danger.modal__ok Ajouter
            button.button.modal__cancel Annuler
      
