extends layout

block navbar
block content
  div.columns
    div.column.is-12
      section.hero.is-light.is-fullheight
        .hero-body
          .container.has-text-centered
            .column.is-4.is-offset-4
              h3.title.has-text-grey Connexion
              p.subtitle.has-text-grey Veuillez vous connecter pour accèder aux alertes
              .box
                figure.avatar
                  img(src='/images/pompiers.jpg')
                form(action='/login' method='post')
                  .field
                    .control
                      input.input.is-large(type='text' name='username' placeholder='Utilisateur' autofocus='')
                  .field
                    .control
                      input.input.is-large(type='password' name='password' placeholder='Mot de passe')
                  button.button.button__login.is-block.is-info.is-large.is-fullwidth(type='submit') Connexion
                h3.message__error= message