body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table td {
  text-align: center;
}

.alert-acknowledged {
  background: rgb(0, 83, 0);
}

.alert-not-acknowledged {
  background: rgb(179, 1, 1);
}

.alert-over {
  background: rgb(78, 78, 78);
}

.message__error {
  color: rgb(179, 1, 1);
  text-align: left;
  margin-top: 20px;
}

.navbar-link strong {
  margin-left: 10px;
}

.navbar__title {
  font-weight: bold;
}

.navbar-item img {
  max-height: unset !important;
  margin-right: 20px;
}

/* USER */

.user__container .title {
  margin-top: 20px;
}

.button__add {
  margin-bottom: 20px;
}

.button__update {
  margin-right: 10px;
}


/* CASERNE */
.caserne__token {
  word-break: break-word;
}
