div.columns
  div.column.is-12
    form.modal__form(action= '/api/configurations/' + configuration.id method='put')
      .field.is-horizontal.form__configuration--edit
        .field-label.is-normal
          label.label Numéro de bip
        .field-body
          .field
            p.control
              input.input(type='text' placeholder='Numéro de bip' name="capcode" value= configuration.capcode)
      .field.is-horizontal
        .field-label.is-normal
          label.label Alias
        .field-body
          .field
            p.control
              input.input(type='text' placeholder='Alias' name="alias" value= configuration.alias)
      .field.is-horizontal
        .field-label.is-normal
          label.label Pushover KEY
        .field-body
          .field
            p.control
              input.input(type='text' placeholder='Pushover KEY' name="pushover_key" value= configuration.pushover_key)
      .field.is-horizontal
        .field-label.is-normal
          label.label Pushover TOKEN
        .field-body
          .field
            p.control
              input.input(type='text' placeholder='Pushover TOKEN' name="pushover_token" value= configuration.pushover_token)
      .field.is-horizontal
        .field-label.is-normal
          label.label Caserne
        .field-body
          .field.is-narrow
            .control
              .select.is-fullwidth
                select(name="caserneId")
                  each caserne in casernes
                    option(value= caserne.id selected= (configuration.caserneId == caserne.id))= caserne.name