div.columns
  div.column.is-12
    form.modal__form(action= '/api/casernes/'+caserne.id method='put')
      .field.is-horizontal.form__caserne--edit
        .field-label.is-normal
          label.label Nom
        .field-body
          .field
            p.control
              input.input(type='text' placeholder='Nom' name="name" value= caserne.name)
      .field.is-horizontal
        .field-label.is-normal
          label.label Fréquence
        .field-body
          .field
            p.control
              input.input(type='text' placeholder='Fréquence' name="frequency" value= caserne.frequency)