div.columns
  div.column.is-12
    form.modal__form(action= '/api/users/' method='put')
      .field.is-horizontal.form__user--edit
        .field-label.is-normal
          label.label Identifiant
        .field-body
          .field
            p.control
              input.input(type='text' placeholder='Identifiant' name="username")
      .field.is-horizontal
        .field-label.is-normal
          label.label Mot de passe
        .field-body
          .field
            p.control
              input.input(type='password' placeholder='Mot de passe' name="password")
      .field.is-horizontal
        .field-label.is-normal
          label.label Rôle
        .field-body
          .field.is-narrow
            .control
              .select.is-fullwidth
                select(name="role")
                  option(value="SUPER") Super-administrateur
                  option(value="ADMIN") Administrateur
                  option(value="VIEWER")  Utilisateur
      .field.is-horizontal
        if (loggedUser.role != 'SUPER')
          .field-label.is-normal
            label.label Caserne
          .field-body
            .field.is-narrow
              .control
                .select.is-fullwidth
                  select(name="caserneId")
                    each caserne in casernes
                      option(value= caserne.id)= caserne.name