div.columns
  div.column.is-12
    form.modal__form(action= '/api/users/'+user.id method='put')
      .field.is-horizontal.form__user--edit
        .field-label.is-normal
          label.label Identifiant
        .field-body
          .field
            p.control
              input.input(type='text' placeholder='Identifiant' name="username" value= user.username)
      .field.is-horizontal
        .field-label.is-normal
          label.label Rôle
        .field-body
          .field.is-narrow
            .control
              .select.is-fullwidth
                select(name="role")
                  option(value="SUPER" selected= (user.role == 'SUPER')) Super-administrateur
                  option(value="ADMIN" selected= (user.role == 'ADMIN')) Administrateur
                  option(value="VIEWER" selected= (user.role == 'VIEWER'))  Utilisateur
      .field.is-horizontal
        if (loggedUser.role != 'SUPER' || (loggedUser.role == 'SUPER' && user.role != 'SUPER'))
          .field-label.is-normal
            label.label Caserne
          .field-body
            .field.is-narrow
              .control
                .select.is-fullwidth
                  select(name="caserneId")
                    each caserne in casernes
                      option(value= caserne.id selected= (user.caserneId == caserne.id))= caserne.name